<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{#if document.title}}
<title>{{ document.title }}</title>
{{else}}
<title>{{ site.name }}</title>
{{/if}}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="{{ meta.og.title }}" />
<meta property="og:image" content="{{ meta.og.image }}" />
<meta property="og:url" content="{{ meta.og.url }}" />
<meta property="og:site_name" content="{{ meta.og.site_name }}" />
<meta property="og:description" content="{{ meta.og.description }}" />
<meta name="twitter:title" content="{{ meta.twitter.title }}" />
<meta name="twitter:image" content="{{ meta.twitter.image }}" />
<meta name="twitter:url" content="{{ meta.twitter.url }}" />
<meta name="twitter:card" content="{{ meta.twitter.card }}" />

{{{ link_icon 'asset/favicon.ico' }}}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tenor+Sans" rel="stylesheet">

{{{ link_css 'asset/themes/shout/css/animate.css' }}}
{{{ link_css 'asset/themes/shout/css/icomoon.css' }}}
{{{ link_css 'asset/themes/shout/css/bootstrap.css' }}}
{{{ link_css 'asset/themes/shout/css/owl.carousel.min.css' }}}
{{{ link_css 'asset/themes/shout/css/owl.theme.default.min.css' }}}
{{{ link_css 'asset/themes/shout/css/magnific-popup.css' }}}
{{{ link_css 'asset/themes/shout/css/style.css' }}}

{{{ script_js 'asset/themes/shout/js/modernizr-2.6.2.min.js' }}}
